In [1]:
# Numeric Data Types

In [2]:
num = 7
type(num)

int

In [5]:
num = 10.8
type(num)

float

In [6]:
num = 8 + 6j
type(num)

complex

In [7]:
num.real

8.0

In [8]:
num.imag

6.0

In [9]:
num = 7.8
b = int(num)
print(b)
print(type(num))
print(type(b))

7
<class 'float'>
<class 'int'>

In [11]:
num1 = num2 = 10
print(num1)
print(num2)
num1 = 12
print(num1)
print(num2)

10
10
12
10

In [12]:
num1 = 10
num2 = num1
print(num1)
print(num2)
num1 = 12
print(num1)
print(num2)

10
10
12
10

In [14]:
num = -90.5
print(num)
print(type(num))
num = int(num)
print(num)
print(type(num))

-90.5
<class 'float'>
-90
<class 'int'>

In [15]:
#Boolean Data Type

In [16]:
bool = True;
print(type(bool))

<class 'bool'>

In [17]:
print(num > 0)

False

In [18]:
# String Data Types

In [20]:
str1 = "Bharathiraja"
str2 = "Gokilamirtham"

In [21]:
print(type(str1))

<class 'str'>

In [22]:
str1[2]

'a'

In [23]:
str2[5]

'a'

In [24]:
str2[-5]

'r'

In [26]:
str2[0:6]

'Gokila'

In [27]:
str2[2:6]

'kila'

In [28]:
str2.find("a")

5

In [29]:
# List Data Types

In [32]:
fruits = "Orange,Apple,Mango,Banana"
fruitsList = fruits.split(",")
fruitsList

['Orange', 'Apple', 'Mango', 'Banana']

In [35]:
print(type(fruits))
print(type(fruitsList))

<class 'str'>
<class 'list'>

In [36]:
fruits1 = fruitsList
fruits2 = ["Kiwi", "Water Melon", "Jackfruit", "Grapes"]
print(fruits1)
print(fruits2)
fruits1 += fruits2
print(fruits1)

['Orange', 'Apple', 'Mango', 'Banana']
['Kiwi', 'Water Melon', 'Jackfruit', 'Grapes']
['Orange', 'Apple', 'Mango', 'Banana', 'Kiwi', 'Water Melon', 'Jackfruit', 'Grapes']

In [37]:
#Tuple

In [38]:
tup1 = ("a", "b", "c", "d")
tup2 = ("e", "f", "g", "h")
print(tup1)
print(type(tup1))
print(tup2)
print(type(tup2))
tup1 += tup2
print(tup1)
print(type(tup1))

('a', 'b', 'c', 'd')
<class 'tuple'>
('e', 'f', 'g', 'h')
<class 'tuple'>
('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
<class 'tuple'>

In [40]:
tup1 * 2

('a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h')

In [41]:
tup1 * 1.5

TypeError: can't multiply sequence by non-int of type 'float'

In [42]:
tup1 * tup2

TypeError: can't multiply sequence by non-int of type 'tuple'

In [43]:
tup1 - tup2

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [44]:
tup1 + tup2

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'e', 'f', 'g', 'h')

In [45]:
tup2 * 3

('e', 'f', 'g', 'h', 'e', 'f', 'g', 'h', 'e', 'f', 'g', 'h')

In [48]:
# Mapping Dict Data Type

In [51]:
dict1 = {1: "Lion", 2: "Tiger", "name": "Bharathi"}
print(dict1)
print(type(dict1))
print(len(dict1))

{1: 'Lion', 2: 'Tiger', 'name': 'Bharathi'}
<class 'dict'>
3

In [52]:
# Set Data Type

In [53]:
set1 = {1,2,3,4,5,3,5}
print(set1)

{1, 2, 3, 4, 5}

In [54]:
len(set1)

5

In [57]:
set2 = {'a', 'b', 3, 4}

In [58]:
print(set1 | set2)

{1, 2, 3, 4, 5, 'b', 'a'}

In [59]:
print(set1 & set2)

{3, 4}

In [60]:
print(set1 - set2)

{1, 2, 5}

In [61]:
print(set2 - set1)

{'b', 'a'}

In [62]:
# Range Data Type

In [63]:
x = range(4)
print(x)
print(type(x))

range(0, 4)
<class 'range'>

In [64]:
# Binary Data Types

In [65]:
x = b"Hello World"

In [66]:
x

b'Hello World'

In [67]:
type(x)

bytes

In [68]:
x[5]

32

In [69]:
x[-2]

108

In [71]:
x[4]

111

In [72]:
s = "Messi is from Argentina"

In [73]:
s

'Messi is from Argentina'

In [74]:
type(s)

str

In [75]:
l = list(s)

In [76]:
l

['M',
 'e',
 's',
 's',
 'i',
 ' ',
 'i',
 's',
 ' ',
 'f',
 'r',
 'o',
 'm',
 ' ',
 'A',
 'r',
 'g',
 'e',
 'n',
 't',
 'i',
 'n',
 'a']

In [77]:
type(l)

list

In [78]:
l1 = [1,4,2,5,2,5,23,52,2,3,24,2,3,1]
s1 = set(l1)
s1

{1, 2, 3, 4, 5, 23, 24, 52}