In [1]:
str1 = "Hi Bharathi"
print(str1)
print(type(str1))

Hi Bharathi
<class 'str'>

In [2]:
str2 = "Hello Gokila"
print(str2)

Hello Gokila

In [3]:
str3 = '''Hello Everyone,
Today We are learning about String in Python'''
print(str3)

Hello Everyone,
Today We are learning about String in Python

In [4]:
# Indexing

str1 = "Bharathi Gokila"
print(str1[0])
print(str1[9])

B
G

In [5]:
# Slicing Operator

In [7]:
print(str1[9:])

Gokila

In [8]:
print(str1[::-1])

alikoG ihtarahB

In [9]:
print(str1[-1])

a

In [12]:
print(str1[-2])

l

In [13]:
# Reassign Strings

str1

'Bharathi Gokila'

In [14]:
str1[1] = 'H'
print(str1)

TypeError: 'str' object does not support item assignment

In [15]:
# Delete String
str2 = 'Python'
print(str2)
del str2
print(str2)

Python

NameError: name 'str2' is not defined

In [17]:
# String Operations
str1 = "Python"
str2 = 'Programing'

In [18]:
str1 * 3

'PythonPythonPython'

In [19]:
str1 + str1

'PythonPython'

In [20]:
str1 + str2

'PythonPrograming'

In [22]:
print('p' in str1)

False

In [23]:
print('P' in str1)

True

In [24]:
print('w' in str1)

False

In [26]:
print('pro' in str2)

False

In [28]:
print('Pro' in str2)

True

In [29]:
print('c://pyton3.7')

c://pyton3.7

In [32]:
# Print Raw String
print(r'c://pyton3.7')

c://pyton3.7

In [35]:
# Format Methods
print("{} and {} are best friends.".format("James", "Brado"))

James and Brado are best friends.

In [36]:
print("{1} and {0} are best friends.".format("James", "Brado"))

Brado and James are best friends.

In [37]:
print("{a} and {b} are best friends.".format(a = "James", b = "Brado"))

James and Brado are best friends.

In [40]:
name = "Angela"
salary = 100000
print("Here name is %s\nHer Salary is %d"%(name, salary))

Here name is Angela
Her Salary is 100000

In [43]:
str1 = "bharathiraja"
str2 = str1.capitalize()
print("Old Value: %s"%(str1))
print("New Value: %s"%(str2))

Old Value: bharathiraja
New Value: Bharathiraja

In [44]:
str1 = "BHARATHIRAJA"
str2 = str1.casefold()
print("Old Value: %s"%(str1))
print("New Value: %s"%(str2))

Old Value: BHARATHIRAJA
New Value: bharathiraja

In [46]:
str1 = "BharAthiraja"
str2 = str1.upper()
print("Old Value: %s"%(str1))
print("New Value: %s"%(str2))

Old Value: BharAthiraja
New Value: BHARATHIRAJA

In [47]:
str1 = "BharAthiraja"
str2 = str1.lower()
print("Old Value: %s"%(str1))
print("New Value: %s"%(str2))

Old Value: BharAthiraja
New Value: bharathiraja

In [48]:
str1 = "BharAthi raja"
str2 = str1.title()
print("Old Value: %s"%(str1))
print("New Value: %s"%(str2))

Old Value: BharAthi raja
New Value: Bharathi Raja

In [50]:
str1 = "Bharathiraja"
print("R Occurances: %d Times"%(str1.count('R')))
print("r Occurances: %d Times"%(str1.count('r')))
print("a Occurances: %d Times"%(str1.count('a')))
print("A Occurances: %d Times"%(str1.count('A')))

R Occurances: 0 Times
r Occurances: 2 Times
a Occurances: 4 Times
A Occurances: 0 Times

In [51]:
str1 = "My name is Bharathi"
str2 = str1.replace("Bharathi", "Gokila")
print(str2)

My name is Gokila

In [53]:
str1 = "My name is Bharathi"
str2 = str1.split()
print(str1)
print(str2)

My name is Bharathi
['My', 'name', 'is', 'Bharathi']